{% extends 'ManagerIrcBotBundle::manager.html.twig' %}


{% block title %}{{ 'Edit server %name%'|trans({'%name%': form.vars.value.name}) }}{% endblock %}


{% block body %}

<h1>{{ 'Edit server %name%'|trans({'%name%': form.vars.value.name}) }}</h1>

<form action="{{ path('irc_server_edit', {'id': form.vars.value.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <button name="submit" value="{{ 'Save'|trans }}">{{ 'Save'|trans }}</button>
</form>

<a href="{{ path('irc_server') }}">{{ 'Return to the list of servers'|trans }}</a>

{% endblock %}