{% extends 'ManagerIrcBotBundle::manager.html.twig' %}


{% block title %}{{ 'Server list'|trans }}{% endblock %}


{% block body %}

<h1>{{ 'Server list'|trans }}</h1>

<ul class="irc_server_list">
    <li class="legends">
        <div class="irc_server_name">{{ 'Name'|trans }}</div>
        <div class="irc_server_lien">{{ 'Link'|trans }}</div>
        <div class="irc_server_actions">{{ 'Actions'|trans }}</div>
    </li>
    {% for server in servers %}
    <li>
        <div class="irc_server_name">{{ server.name }}</div>
        <div class="irc_server_lien">
            <a href="irc://{{ server.host }}:{{ server.port }}/{{ server.channels }}">irc://{{ server.host }}:{{ server.port }}/{{ server.channels }}</a>
        </div>
        <div class="irc_server_actions">
            {% if server.pid == 0 %}
            <a href="{{ path('irc_server_launch', {'id': server.id }) }}">{{ 'Launch'|trans }}</a>
            {% else %}
            <a href="{{ path('irc_server_stop', {'id': server.id }) }}">{{ 'Stop'|trans }}</a>
            {% endif %}
            <a href="{{ path('irc_server_edit', {'id': server.id }) }}">{{ 'Edit'|trans }}</a>
            <a href="{{ path('irc_server_remove', {'id': server.id }) }}">{{ 'Remove'|trans }}</a>
        </div>
    </li>
    {% endfor %}
</ul>

<a href="{{ path('irc_server_new') }}">{{ 'Add a new server'|trans }}</a>

{% endblock %}