{% extends '::base.html.twig' %}
{% block body %}

<form action="{{ path('irc_server_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <button name="submit" value="{{ 'Add'|trans }}">{{ 'Add'|trans }}</button>
</form>

{% endblock %}